<h2>
  {{card.name}}
</h2>
<div class='label-choices' ng_show='card.labels.length === 0'>
  <a class='card-color' data-card-id='{{card.id}}' data-color-selector data-label-color='{{color.color}}' ng_repeat='color in cardLabels' style='background-color: {{color.hex}}'>
    {{color.name}}
  </a>
</div>
<ul class='links'>
  <li class='move-to-done'>
    <a class='done' data-id='{{card.id}}' data-move-to-done>Move To Done</a>
  </li>
  <li class='upvote-card'>
    <a class='done' data-id='{{card.id}}' data-upvote-card>Upvote</a>
  </li>
  <li ng_show='card.labels.length &gt; 0'>
    <a class='archive' data-archive-card data-id='{{card.id}}' ng_href='nothing'>Archive</a>
  </li>
  <li class='move-to-doing' ng_show='card.labels.length &gt; 0'>
    <a class='doing' data-id='{{card.id}}' data-move-to-doing>Move To Doing</a>
  </li>
  <li>
    <a class='article' ng_href='{{ card.attachments[0].url }}' target='_blank'>Read Article</a>
  </li>
  <li>
    <a class='trello' ng_href='{{ card.shortUrl }}' target='_blank'>View On Trello</a>
  </li>
</ul>
<hr>
<ul class='labels'>
  <li class='label {{label.color}}' ng_repeat='label in card.labels'>
    {{ label.name }}
  </li>
</ul>
<section class='meta'>
  last action: {{card.dateLastActivity | date }}
</section>
<hr>
