%section.trello
  %a.archive{ng_href: "nothing", data: {archive_card: true, id: "{{card.id}}" }} X
  %a#view-trello{ng_href: "{{ card.shortUrl }}", target: "_blank"} View On Trello

%section.card-actions
  %h2
    {{card.name}}

  .label-choices{ng_show: "card.labels.length === 0"}
    %a.card-color{ng_repeat: "color in cardLabels",
      style: "background-color: {{color.hex}}",
      data: { card_id: "{{card.id}}",
              label_color: "{{color.color}}",
              color_selector: true}}
      {{color.name}}

  %ul.links
    %li
      %a.article{ng_href: "{{ card.attachments[0].url }}", target: "_blank"} Read Article
    %li.move-to-doing{ng_show: "card.labels.length > 0"}
      %a.doing{data: {move_to_doing: true, id: "{{card.id}}"}} Move To Reading
    %li.move-to-done
      %a.done{data: {move_to_done: true, id: "{{card.id}}"}} Move To Done
    %li.upvote-card
      %a.done{data: {upvote_card: true, id: "{{card.id}}"}} Upvote

  .meta
    last action: {{card.dateLastActivity | date }}
